* {
  font-family: sans-serif;
  color: rgb(248, 248, 248);
}

body {
  background-color: rgb(196, 112, 112);
}

h1 {
  color: rgb(248, 248, 248);
  display: flex;
  justify-content: center;
}

.createInput {
  color: black;
}

.createBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createUser {
  padding: 2rem;
  border: 1px solid rgb(248, 248, 248);
}
.favFoodBox {
  margin-top: 1rem;
}

.userBox {
  display: flex;
  margin: 1rem;
  width: 100%;
  max-width: 300px;
  border: 1px solid rgb(248, 248, 248);
}

.userContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  color: black;
  background-color: rgb(248, 248, 248);
  border: 1px solid black;
}

.btn-home-users {
  margin-left: 0.3rem;
}

.btn-home-update {
  margin-left: 0.3rem;
}

.createBtn {
  float: right
}

.foodBox {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
}

.food {
  padding: 0.2rem;
}

.userInfo {
  position: relative;
  width: 100%;
  padding: 1rem 0rem 3.5rem 2.5rem;
}

h4 {
  margin-top: 0;
}

.deleteBtn{
  height: 1.5rem;
  color: black;
  position: absolute;
  right: 1rem;
  bottom: 0;
}

.randomBoxContainer {
  display: flex;
  justify-content: center;
}

.randomBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1000px;
  height: 10rem;
}

.randomBtn {
  width: 7rem;
}

.random-txt {
  margin-top: 1rem;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  max-width: 100rem;
}

.img {
  margin: 2rem;
  width: 22rem;
}

.usersList {
  color: black;
}

.usersOptions {
  color: black;
}

.updateBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.updateUser {
  padding: 2rem;
  border: 1px solid rgb(248, 248, 248);
  min-width: 10rem;
}

.selectText {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}